@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 18%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;

    --primary: 0 0% 88%;
    --primary-foreground: 0 0% 18%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 18%;

    --accent: 0 0% 88%;
    --accent-foreground: 0 0% 18%;

    --destructive: 0 55% 27%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 0 0% 88%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}